
body {
    background-color: #f0f8ff;   /* Light blue background */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;           /* Center the text */
    margin: 0;
    padding: 0;
}

h1 {
    color:blue              /* Orange text */
    margin-top: 66px;             /* Space from top */
    font-size: 48px;
    text-shadow:92px 2px #888;   /* Subtle shadow */
}
